
<nav class="fixed top-0 z-50 w-full bg-white-50 border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-start rtl:justify-end">
          <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
              <span class="sr-only">Open sidebar</span>
              <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                 <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
              </svg>
           </button>
          <a href="https://flowbite.com" class="flex ms-2 md:me-24">
            <img src="assets/images/nav-logo.jpg" class="h-12 w-40 me-3" alt="FlowBite Logo" />
          </a>
        </div>
        <div class="flex items-center">
            <div class="flex items-center ms-3">
              <div class="mr-12" *ngIf="cart">
                <button (click)="gotoCart()" class="relative inline-flex items-center p-3 text-sm font-medium text-center text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                  <svg class="w-7 h-7 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"/>
                  </svg>
                  <span class="sr-only">Notifications</span>
                  <div class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-[#ffff] bg-red-500 border-2 border-white rounded-full top-1 -end-1 dark:border-gray-900">{{totalItem}}</div>
                </button>
              </div>
              <!-- <div class="pr-5" *ngIf="cart">
                  <a href="#" (click)="logout()" class="block px-4 py-2 text-md text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Sign out</a>
              </div> -->
              <div>
                <button type="button" (click)="toggleDropdown()"
                  class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                  aria-expanded="false" data-dropdown-toggle="dropdown-user">
                  <span class="sr-only">Open user menu</span>
                  <img class="w-8 h-8 rounded-full" src="assets/images/profile.jpg"
                    alt="user photo">
                </button>
              </div>
              <div *ngIf="userDropdown" class="z-10 bg-white-50 rounded-lg shadow w-60 top-16 right-0 absolute mr-4" id="dropdown-user">
                <div class="px-4 md:px-6 py-3.5 border-[#EBECEF] border-b border-solid">
                  <h4 class="text-lg font-semibold text-[#C55A11] break-words">
                    {{userRole}}
                  </h4>
                  <div class="text-sm font-normal text-[#8E8E93] break-words">
                    {{email}}
                  </div>
                </div>
                <div class="mx-2 py-3.5 border-[#EBECEF] border-t border-solid">
                  <a (click)="logout()"
                    class="flex justify-between p-3 hover:bg-[#F9EFE7] rounded-lg">
                    <div class="flex items-center gap-3 cursor-pointer"  (click)="logout()">
                      <img class="w-6 h-6" src="assets/images/logout-logo.png" alt="" />
                      <span class="text-[#0E0E2C] text-sm font-normal cursor-pointer">Logout</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </nav>
